<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instantgo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FE5E4D81F279B33005765C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE5E4EC1F279B34005765C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FE5E4F71F279B34005765C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
