<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292634174870-g8ggn2dlsv0loqmvrspnoqca9kl8913q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292634174870-g8ggn2dlsv0loqmvrspnoqca9kl8913q</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXp3JY13g8vaf7DzvCqrMCxRQ44mxFDE</string>
	<key>GCM_SENDER_ID</key>
	<string>292634174870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BRS.Instantgo</string>
	<key>PROJECT_ID</key>
	<string>instantgo-ec504</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgo-ec504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:292634174870:ios:35ab1bb6d8caf923</string>
	<key>DATABASE_URL</key>
	<string>https://instantgo-ec504.firebaseio.com</string>
</dict>
</plist>